<template>
  <v-container>
    <v-row>
      <v-col>
        <v-row no-gutters>
          <Video />
        </v-row>
        <v-row no-gutters>
          <v-col>
            <WhiteBoard />
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <Chat />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Video from "@/components/Video";
import Chat from "@/components/Chat.vue";
import WhiteBoard from "@/components/WhiteBoard.vue";

export default {
  name: "Home",
  components: {
    Chat,
    Video,
    // eslint-disable-next-line vue/no-unused-components
    WhiteBoard
  },
  data() {
    return {};
  },
  methods: {},
  computed: {}
};
</script>
