<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="30%" persistent>
      <v-card class="pa-5">
        <v-card-title v-if="loginRequest" class="headline">
          Connectez-vous:
        </v-card-title>
        <v-card-title v-else-if="registerRequest" class="headline">
          Créez-vous un compte:
        </v-card-title>

        <v-text-field v-model="email" label="E-mail:" required></v-text-field>
        <v-text-field
          v-model="password"
          label="Mot de passe:"
          type="password"
          required
        ></v-text-field>
        <v-text-field
          v-if="registerRequest && !loginRequest"
          v-model="passwordRetry"
          label="Confirmez votre mot de passe:"
          type="password"
          required
        ></v-text-field>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            v-if="loginRequest"
            color="green darken-1"
            text
            @click="setLoginRequest"
          >
            Annuler
          </v-btn>
          <v-btn
            v-else-if="registerRequest"
            color="green darken-1"
            text
            @click="setRegisterRequest"
          >
            Annuler
          </v-btn>

          <v-btn
            v-if="loginRequest"
            color="green darken-1"
            text
            @click="connect"
          >
            Se connecter
          </v-btn>
          <v-btn
            v-else-if="registerRequest && !loginRequest"
            color="green darken-1"
            text
            @click="createAccount"
          >
            Créer un compte
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";

export default {
  name: "LoginRegister",
  data: () => ({
    dialog: true,
    email: "",
    password: "",
    passwordRetry: ""
  }),
  methods: {
    ...mapActions({
      setLoginRequest: "setLoginRequest",
      setRegisterRequest: "setRegisterRequest",
      register: "register",
      login: "login",
      resetRequestError: "test/resetRequestError",
      resetRequestSuccess: "test/resetRequestSuccess"
    }),
    connect() {
      let data = {
        email: this.email,
        password: this.password
      };
      this.login(data)
        .then(() => {
          this.setLoginRequest();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    createAccount() {
      let data = {
        email: this.email,
        password: this.password
      };
      this.register(data)
        .then(() => {
          this.setRegisterRequest();
          this.setLoginRequest();
        })
        .catch((err) => {
          console.log(err);
        });
    }
  },
  computed: {
    ...mapGetters({
      itemSelect: "itemSelect",
      loginRequest: "loginRequest",
      registerRequest: "registerRequest",
      connected: "connected",
      requestError: "test/requestError",
      requestSuccess: "test/requestSuccess"
    })
  },
  props: {}
};
</script>
