<template>
  <div>
    <v-card class="secondary">
      <v-container v-if="connected">
        <v-row no-gutters align="center">
          <h3 class="ma-2 primary--text">
            participants:
          </h3>
          <span class="ma-4" v-for="item in participants" :key="item.id">
            {{ item.username }}
          </span>
        </v-row>
      </v-container>
      <LoginRegister
        v-if="(loginRequest && !connected) || (registerRequest && !connected)"
      />
      <Home v-if="itemSelect == 0 && connected" />
      <div v-else class="container">
        <div class=".title">
          Connectez-vous pour accéder aux outils
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";
import io from "socket.io-client";
import LoginRegister from "@/views/LoginRegister.vue";
import Home from "@/views/Home.vue";

export default {
  name: "Main",
  components: {
    Home,
    LoginRegister
  },
  methods: {
    ...mapActions({
      setLoginRequest: "setLoginRequest",
      resetRequestError: "test/resetRequestError",
      resetRequestSuccess: "test/resetRequestSuccess",
      setSocket: "meet/setSocket",
      addMessage: "meet/addMessage",
      setParticipants: "meet/setParticipants"
    })
  },
  computed: {
    ...mapGetters({
      itemSelect: "itemSelect",
      registerRequest: "registerRequest",
      loginRequest: "loginRequest",
      connected: "connected",
      requestError: "test/requestError",
      requestSuccess: "test/requestSuccess",
      socket: "meet/socket",
      participants: "meet/participants",
      messages: "meet/messages",
      username: "user/username"
    })
  },
  watch: {
    connected() {
      if (this.connected) {
        console.log("get socket io");
        this.setSocket(io(this.$store.getters.socketApi));
        this.socket.on("MESSAGE", (data) => this.addMessage(data));
        this.socket.on("list-participant", (data) =>
          this.setParticipants(data)
        );
        this.socket.emit("user-name", this.username);
      } else if (!this.connected) {
        console.log("get socket disconnect");
        this.setParticipants([]);
        this.socket.disconnect();
        location.reload();
      }
    }
  }
};
</script>
