<template>
  <v-card class="d-flex align-content-end flex-wrap">
    <v-card-title>
      <h3>Conversation</h3>
    </v-card-title>
    <v-card-text>
      <div class="messages">
        <p v-for="msg in messages" :key="msg.ts">
          <strong>{{ msg.user }}</strong
          >: {{ msg.message }}
        </p>
      </div>
      <br />
      <v-text-field
        readonly
        label="User:"
        type="text"
        v-model="username"
      ></v-text-field>
      <v-textarea label="Message:" v-model="message"></v-textarea>
    </v-card-text>
    <v-card-actions>
      <v-btn color="success" @click.prevent="sendMessage">Send</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
// import io from "socket.io-client";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "chat",
  data() {
    return {
      user: "",
      message: ""
    };
  },
  computed: {
    ...mapGetters({
      username: "user/username",
      connected: "connected",
      socket: "meet/socket",
      messages: "meet/messages"
    })
  },
  methods: {
    ...mapActions({
      setSocket: "meet/setSocket"
    }),
    sendMessage() {
      this.socket.emit("SEND_MESSAGE", {
        user: this.username,
        message: this.message,
        ts: Date.now() + this.username
      });
      this.message = "";
    }
  },
  mounted() {}
};
</script>
