<template>
  <v-card class="primary">
    <div @click="resetRequestError">
      <v-alert v-if="requestError" type="error">{{ requestError }}</v-alert>
    </div>
    <div @click="resetRequestSuccess">
      <v-alert v-if="requestSuccess" type="success">
        {{ requestSuccess }}
      </v-alert>
    </div>
    <v-card-title class="d-flex justify-space-between">
      <div>
        <h1 class="py-6  font-weight-bold display-3 secondary--text">
          OpenVisio
        </h1>
        <div v-if="role == 'host'" class="justify-center flex-d">
          <v-btn
            v-if="(publicIp == null || publicIp == '') && connected == true"
            class="ma-2"
            @click="postExpose(true)"
          >
            Ouvrir le serveur
          </v-btn>
          <div v-else-if="connected == true" class="d-flex flex-row">
            <p v-text="publicIp" class="ma-2 d-flex flex-row white--text " />
            <v-btn class="ma-2 d-flex flex-row " @click="postExpose(false)">
              stop
            </v-btn>
          </div>
        </div>
      </div>
      <div class="d-flex justify-center flex-column">
        <v-avatar
          class="align-self-center d-flex justify-content-center"
          v-if="connected"
          size="22%"
        >
          <v-img
            class="d-flex align-self-center"
            src="https://randomuser.me/api/portraits/lego/1.jpg"
          />
        </v-avatar>
        <div class="align-self-center white--text" v-text="username" />
      </div>
      <v-btn
        v-if="connected"
        @click="logout()"
        text
        class="ml-2 secondary--text"
      >
        Se déconnecter
      </v-btn>

      <div v-else>
        <v-btn @click="setLoginRequest" class="secondary--background mr-2">
          Se connecter
        </v-btn>
        <v-btn @click="setRegisterRequest" text class="ml-2 secondary--text">
          Créer un compte
        </v-btn>
      </div>
    </v-card-title>

    <v-tabs v-model="tab" background-color="primary" grow>
      <v-tab v-for="item in items" :key="item.id">
        <span class="secondary--text">
          {{ item.tab }}
        </span>
      </v-tab>
    </v-tabs>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      tab: null,
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  },
  methods: {
    ...mapActions({
      pingApi: "test/pingApi",
      setRegisterRequest: "setRegisterRequest",
      setLoginRequest: "setLoginRequest",
      logout: "logout",
      setItemSelect: "setItemSelect",
      setConnected: "setConnected",
      resetRequestError: "test/resetRequestError",
      resetRequestSuccess: "test/resetRequestSuccess",
      postExpose: "config/postExpose"
    })
  },
  computed: {
    ...mapGetters({
      items: "items",
      itemSelect: "itemSelect",
      connected: "connected",
      requestError: "test/requestError",
      requestSuccess: "test/requestSuccess",
      publicIp: "config/publicIp",
      role: "user/role",
      username: "user/username"
    })
  },
  watch: {
    tab() {
      this.setItemSelect(this.tab);
    }
  }
};
</script>
