<template>
  <v-card>
    <v-container>
      <v-card-title>
        <h2>Salle de réunion:</h2>
        <v-row no-gutters>
          <v-col>
            <v-text-field
              dense
              color="blue darken-2"
              :readonly="joined"
              v-model="room"
            />
          </v-col>
          <v-spacer />
          <v-col>
            <v-row>
              <v-col>
                <v-btn v-if="!joined" color="primary" @click="onJoin">
                  Rejoindre
                </v-btn>
                <v-btn v-if="joined" color="error" @click="onLeave">
                  Quitter
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-btn
              v-if="joined"
              outlined
              color="primary"
              @click="onShareScreen"
            >
              Partage d'écran
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <vue-webrtc
              ref="webrtc"
              width="100%"
              socketURL="https://rtcmulticonnection.herokuapp.com:443/"
              :roomId="room"
              v-on:joined-room="logEvent"
              v-on:left-room="logEvent"
              v-on:opened-room="logEvent"
              v-on:share-started="logEvent"
              v-on:share-stopped="logEvent"
              @error="onError"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import Vue from "vue";
import WebRTC from "vue-webrtc";
import * as io from "socket.io-client";
import { mapGetters, mapActions } from "vuex";
window.io = io;

Vue.use(WebRTC);

export default {
  name: "Video",
  components: {},
  data() {
    return {
      img: null,
      room: "général"
    };
  },
  computed: {
    ...mapGetters({
      participants: "meet/participants",
      joined: "meet/joined"
    })
  },
  watch: {},
  methods: {
    ...mapActions({
      setParticipants: "meet/setParticipants",
      setJoined: "meet/setJoined",
      setRoom: "meet/setRoom"
    }),
    onCapture() {
      this.img = this.$refs.webrtc.capture();
    },
    onJoin() {
      this.$refs.webrtc.join();
      this.setJoined(true);
      this.setRoom(this.room);
    },
    onLeave() {
      this.$refs.webrtc.leave();
      this.setJoined(false);
    },
    onShareScreen() {
      this.img = this.$refs.webrtc.shareScreen();
    },
    onError(error, stream) {
      console.log("On Error Event", error, stream);
    },
    logEvent(event) {
      console.log("Event : ", event);
    }
  }
};
</script>
