<template>
  <v-row no-gutters>
    <v-col dense class="mb-n16">
      <historyPanel class="d-flex"></historyPanel>
      <mainPanel class=" d-inline-flex"></mainPanel>
    </v-col>
    <canvas id="board" resize></canvas>
  </v-row>
</template>

<script>
import paper from "paper";
import MainPanel from "./panel/MainPanel";
import HistoryPanel from "./panel/HistoryPanel";

export default {
  name: "WhiteBoard",
  data() {
    return {};
  },

  components: {
    mainPanel: MainPanel,
    historyPanel: HistoryPanel
  },
  created() {
    paper.install(window);
  },
  mounted() {
    paper.setup("board");
  },
  beforeDestroy() {
    // clear scope
    paper.remove();
    paper = null;
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100%;
  background: #000000;
}
</style>
