<template>
  <v-app>
    <v-row>
      <v-col>
        <NavBar />
        <v-main>
          <Main />
        </v-main>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import Main from "./views/Main";
import NavBar from "./components/NavBar";

export default {
  name: "App",
  components: {
    Main,
    NavBar
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {},
  data: () => ({})
};
</script>
